<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SemWeb</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}
">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <br>
    <div class="card">
        <h6 class="card-header d-flex justify-content-center bg bg-info">
            Detail Hospital
        </h6>
        <div class="card-body">
            {% for hospital in qres.results.bindings %}
            <h1><p>{% for nameURI in nameURI.results.bindings %}
            <a href=" {{ nameURI.hospital.value }} ">
            {% endfor %}
            {{ hospital.name.value }}</a></p></h1>

            {% for nameURI in nameURI.results.bindings %}
            <b>Abstract:</b> {{ nameURI.abstract.value }}
            {% endfor %}
            <br>

            <b><br>The hospital is located at address :</b>
            <p>{{ hospital.address.value }}</p>

            <b><br>It is located at county:</b>
                {% for countyLink in countyURI.results.bindings %}
                <a href="{{ countyLink.city.value }} ">
                {% endfor %}
                {{ hospital.county.value }}</a>


            <b><br>It is located at state:</b>
                {% for stateLink in stateURI.results.bindings %}
                <a href=" {{ stateLink.state.value }} ">
                {% endfor %}
                {{ hospital.state.value }} </a><br>


            <b><br>The hospital is owned by :</b>
            <p>{{ hospital.ownership.value }}</p>

            <b><br>The hospital rating is :</b>
            <p>{{ hospital.overallRating.value }}</p>

            <b><br>Available for ER? :</b>
            <p>{{ hospital.emergencyService.value }}</p>

            <b><br>Statistic compared to national value:</b>
            <b><p>Mortality rate :</b> {{ hospital.mortalityComparison.value }}</p>
            <b> <p>Efficient use of medical imaging :</b> {{ hospital.medicalImaging.value }}</p>
            <b><p>Safety of Care :</b> {{ hospital.safetyCare.value }}</p>
            <b><p>Effectiveness of Care :</b> {{ hospital.effectiveness.value }}</p>
            <b><p>Readmission rate :</b> {{ hospital.readmission.value }}</p>
            <b> <p>Timeliness of Care : </b>{{ hospital.timeliness.value }}</p>

            {% endfor %}
            

            {% for nameURI in nameURI.results.bindings %}
            <b>The hospital capacity is: </b>
            <p>{{ nameURI.bedCount.value }} beds
            {% endfor %}

        </div>
    </div>
</div>
</body>
</html>
