<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SemWeb</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}
">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<script>
function collapseFeature() {
  var b1 = document.getElementById("feature");
  if(b1.style.display == "none"){
	b1.style.display = "block";
  }else{
	b1.style.display = "none";
	}
}
function collapseRating() {
  var b1 = document.getElementById("rating");
  if(b1.style.display == "none"){
	b1.style.display = "block";
  }else{
	b1.style.display = "none";
	}
}
function collapseComparison() {
  var b1 = document.getElementById("comparison");
  if(b1.style.display == "none"){
	b1.style.display = "block";
  }else{
	b1.style.display = "none";
	}
}
function collapseLocation() {
  var b1 = document.getElementById("location");
  if(b1.style.display == "none"){
	b1.style.display = "block";
  }else{
	b1.style.display = "none";
	}
}
</script>
<div class="container">
    <br>
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="align-items-center">
			<form method="POST">
				{% csrf_token %}
				Sort By: {{ form.sortBy }} <br>
				Sort Options: {{ form.sortOptions }}
				<table>
				<tr style="background-color:coral;" onclick="collapseFeature()">
					<td><b>Hospital Feature</b><td style="align:right"><b><h3>➕</b></h3>
					<tr><td id="feature" style="display:block">
						<table>
						<tr><td colspan=2><b>Hospital Name</b>
						<tr><td colspan=2>{{form.name}}
						
						<tr><td colspan=2><b>Hospital Type</b>
						<tr><td colspan=2>{{form.type}}
						
						<tr><td colspan=2><b>ER availability</b>
						<tr><td>Yes<td>{{form.erYes}}
						<tr><td>No<td>{{ form.erNo }}
						
						<tr><td colspan=2><b>Hospital Ownership</b>
						<tr><td>Government<td>{{form.government}}
						<tr><td>Non-profit<td>{{ form.nonprofit }}
						<tr><td>Physician<td>{{ form.physician }}
						<tr><td>Proprietary<td>{{ form.proprietary }}
						<tr><td>Tribal<td>{{ form.tribal }}
						<tr>
						</table>
				<tr style="background-color:coral;" onclick="collapseLocation()">
					<td><b>Hospital Location</b><td style="align:right"><b><h3>➕</b></h3>
					<tr><td id="location" style="display:block">
						<table>
						<tr><td colspan=2><b>Hospital Address</b>
						<tr><td colspan=2>{{form.address}}
						
						<tr><td colspan=2><b>City</b>
						<tr><td colspan=2>{{form.city}}
						
						<tr><td colspan=2><b>Postal Code</b>
						<tr><td colspan=2>{{form.zip}}
						
						<tr><td colspan=2><b>County</b>
						<tr><td colspan=2>{{form.county}}
						
						<tr><td colspan=2><b>State</b>
						<tr><td colspan=2>{{form.state}}
						</table>
				 <tr style="background-color:coral;" onclick="collapseRating()">
					<td><b>Hospital Rating</b><td style="align:right"><b><h3>➕</b></h3>
					<tr><td id="rating" style="display:none">
						<table>
						<tr><td> Unknown <td> {{form.ratena}}
						<tr><td> ★ <td> {{form.rate1}}
						<tr><td> ★★ <td> {{form.rate2}}
						<tr><td> ★★★ <td> {{form.rate3}}
						<tr><td> ★★★★ <td> {{form.rate4}}
						<tr><td> ★★★★★ <td> {{form.rate5}}
						</table>
				<tr style="background-color:coral;" onclick="collapseComparison()">
					<td><b>Comparison</b><td style="align:right"><b><h3>➕</b></h3>
					<tr><td><table id="comparison" style="display:none">
						<tr><td colspan=2><b>Mortality Rate</b>
						<tr><td>Above national average <td>{{form.mortalityAbove}}
						<tr><td>Below national average <td>{{ form.mortalityBelow }}
						<tr><td>Equal to national average <td>{{ form.mortalityEqual }}
						<tr><td>Unknown <td>{{ form.mortalityNa }}
						
						<tr><td colspan=2><b>Mortality Rate</b>
						<tr><td>Above national average <td>{{form.mortalityAbove}}
						<tr><td>Below national average <td>{{ form.mortalityBelow }}
						<tr><td>Equal to national average <td>{{ form.mortalityEqual }}
						<tr><td>Unknown <td>{{ form.mortalityNa }}
						
						<tr><td colspan=2><b>Safety of Care</b>
						<tr><td>Above national average <td>{{form.safetyAbove}}
						<tr><td>Below national average <td>{{ form.safetyBelow }}
						<tr><td>Equal to national average <td>{{ form.safetyEqual }}
						<tr><td>Unknown <td>{{ form.safetyNa }}
						
						<tr><td colspan=2><b>Readmission Rate</b>
						<tr><td>Above national average <td>{{form.readmissionAbove}}
						<tr><td>Below national average <td>{{ form.readmissionBelow }}
						<tr><td>Equal to national average <td>{{ form.readmissionEqual }}
						<tr><td>Unknown <td>{{ form.readmissionNa }}
						
						<tr><td colspan=2><b>Patient Experience</b>
						<tr><td>Above national average <td>{{form.patientExperienceAbove}}
						<tr><td>Below national average <td>{{ form.patientExperienceBelow }}
						<tr><td>Equal to national average <td>{{ form.patientExperienceEqual }}
						<tr><td>Unknown <td>{{ form.patientExperienceNa }}
						
						<tr><td colspan=2><b>Effectiveness of Care</b>
						<tr><td>Above national average <td>{{form.effectivenessAbove}}
						<tr><td>Below national average <td>{{ form.effectivenessBelow }}
						<tr><td>Equal to national average <td>{{ form.effectivenessEqual }}
						<tr><td>Unknown <td>{{ form.effectivenessNa }}
						
						<tr><td colspan=2><b>Timeliness of Experience</b>
						<tr><td>Above national average <td>{{form.timelinessAbove}}
						<tr><td>Below national average <td>{{ form.timelinessBelow }}
						<tr><td>Equal to national average <td>{{ form.timelinessEqual }}
						<tr><td>Unknown <td>{{ form.timelinessNa }}
						
						<tr><td colspan=2><b>Efficient use of Medical Imaging</b>
						<tr><td>Above national average <td>{{form.medicalImagingAbove}}
						<tr><td>Below national average <td>{{ form.medicalImagingBelow }}
						<tr><td>Equal to national average <td>{{ form.medicalImagingEqual }}
						<tr><td>Unknown <td>{{ form.medicalImagingNa }}
					<td>
				</table>
				<button type="submit">Lakukan Query</button>
			</form>
			<for
        </div>
        <!--<div class="col-md-1">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>-->
    </div>
    <br>
    
        <h6 class="card-header d-flex justify-content-center bg bg-info">
            Hasil Pencarian Hospital
        </h6>

        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Rating</th>
                    <th>Hospital Type</th>
					<th>Phone Number</th>
                    <th>City</th>
					<th>Postal Code</th>
                    <th>County</th>
					<th>ER</th>
                    <th>Mortality Comparison</th>
					<th>Ownership</th>
                    <th>State</th>
					<th>Detail</th>
					
                </tr>
                </thead>
                <tbody>
                {% for hospital in qres.results.bindings %}
                <tr>
                    <td>{{hospital.name.value}}</td>
                    <td>{{hospital.address.value}}</td>
                    <td>{{hospital.overallRating.value}}</td>
                    <td>{{hospital.hospitalType.value}}</td>
					<td>{{hospital.phoneNumber.value}}</td>
                    <td>{{hospital.city.value}}</td>
                    <td>{{hospital.postalCode.value}}</td>
                    <td>{{hospital.county.value}}</td>
					<td>{{hospital.emergencyService.value}}</td>
                    <td>{{hospital.mortalityComparison.value}}</td>
                    <td>{{hospital.ownership.value}}</td>
                    <td>{{hospital.state.value}}</td>
                    <td>
                        <a class="btn btn-dark" href="{% url 'main:detail' hospital.hospital.value %}">Detail</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    <br>
    <br>
</div>
</body>
</html>
